
/*form, form > * {
    width: 100%;
    display: block;
    justify-content: center;
    margin: 0 auto;
}

form * {
    border-radius: var(--default-border-radius);
    padding: 0.5em;
    margin: 0.5em 0 ;
    justify-content: center;
}*/

#user_form > *{
    margin: 0 auto;
    text-align: center;
}

#user_form > div {
    background-color:#004E98;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

#user_form > div > header {
    color: #fff;
    font-family: 'myFont';
    font-size: 30px;
}

#user_form > div > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user_form > div > form > input {
    width: 100%;
    display: block;
    justify-content: center;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em 0;
    font-family: 'myFont';
    font-size: 16px;
}

#user_form > div > form > button{
    width: 100%;
    display: block;
    justify-content: center;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em 0;
    font-family: 'myFont';
    font-size: 16px;
    background-color: #ced4da;
    color: #004E98;
}

#user_form > div > footer {
    color: #fff;
    font-family: 'myFont';
}

#form_link{
    color: #ef8354;
    text-decoration: none;
    font-family: 'myFont';
}