@font-face {
    font-family: 'myFont';
    src: url(../fonts/coolveticarg.otf);
}
@font-face {
    font-family: 'myFont2';
    src: url(../fonts/made_tommy.otf);
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    margin : 0 auto;
    flex-direction: column;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #004E98;
    color: #fff;
    width: 100%;
    height: 70px;
    max-height: 70px;
    margin-bottom: 25px;
}

body > footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body > footer > div {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

#default_header{
    padding: 1em;
    background-color: #004E98;
    color: #fff;
    position: sticky;
    top: 0;
    margin-bottom: 25px;
    font-family: 'myFont';
}

#default_header > h1 {
    color: #fff;
    text-decoration: none;
    
}

#default_header > nav > ul > li{
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
}

#default_header > nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#header_link {
    color: #fff;
    text-decoration: none;
}


#default_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: #004E98;
    color: #fff;
    font-size: smaller;
    text-align: center;
    font-family: 'myFont';
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

#footer_link {
    color: #ef8354;
    text-decoration: none;
    margin-top: 13px;
}

#faq-go{
    color:white;
    text-decoration: none;
    margin-top: 13px;
}

/*#ticket_list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:auto;
    margin-top: 30px;
    font-family: 'myFont2';
}*/

#filter_by{
    margin-top: 0%;
    padding-left: 10px;
    font-family: 'myFont2';
}

#filters{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'myFont2';
}

#filter_department, #filter_sort, #filter_state{

    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    width:200px;
    height: 30px;
    padding: auto;

}

#create_ticket{
    margin-right: 0px;
    margin-left: auto;
}

#create_ticket > button {
    margin-right: 0px;
    margin-left: auto;
    background-color: #ef8354;
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: large;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
    font-family: 'myFont2';
}

#ticket_content {
    display: flex;
    text-align: center;
    width: 85%;
    margin-bottom: 40px;
    margin-left: 7.5%;
    background-color: #CFCFCF;
    border-radius: 5px;
    font-family: 'myFont2';
}

#ticket_text{
    flex:1;
    padding: 10px;
}

/*#ticket_content > div {
    flex: 0 0 70%;
    overflow: hidden;
    padding: 10px;
}*/

#ticket_content > div > header {
    text-align: center;
    padding-left: 10px;
}

#ticket_content > div > header > h1 > a {
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

#ticket_text > p {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

#ticket_user {
    flex: 0 0 15%;
    padding: 10px;
    overflow: hidden;
    border-right: 4px dashed black;
    border-color: #004E98;
}

#ticket_user > div{
    margin-top: 10px;
}

#ticket_user > p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    color: #ef8354;
}

#ticket_footer {
    display: flex;

}

#hashtags_container{
    flex: auto;
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

#date_container{
    flex: auto;
    text-align: right;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

#replies_title{
    padding-left: 7.5%;
    font-family: 'myFont2';
}

#reply_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85%;
    margin:auto;
    margin-top: 30px;
    font-family: 'myFont2';   
}

#reply_footer {
    display: flex;
    min-width: 100%;
    max-width: 100%;

}

#reply_text{
    width: 100%;
    border-bottom: 4px solid black;
    border-color: #474A48; 

}
#reply_text > p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

}

#reply_user {
    flex: auto;
    text-align: left;
    font-size: 14px;    
    padding-left: 10px;
    padding-right: 10px;
    color: #ef8354;
}

.user-info {
    width: 100vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 10em;
    display: grid;
    font-family: 'myFont2';
    row-gap: 1em;
    text-align: center;
}

.user-info > * { margin: 0; }

.user-info > h1 { grid-area: 1 / 1 / span 1 / span 1; }

.user-info > h2 {
    margin-top: 1.5em;
    grid-area: 1 / 1 / span 1 / span 1;
    color: gray;
}

.user-info > h3 {
    margin-top: 3.5em;
    grid-area: 1 / 1 / span 1 / span 1;
}

.userinfo #ticket-content {
    grid-area: 2 / 1 / span 1 / span 1;
}



#sse1
{
    /*You can decorate the menu's container, such as adding background images through this block*/
    background-color: #fff;
    height: 60px;
    padding: 15px;
    border-radius: 3px;
    box-sizing: content-box;
}
#sses1
{
    margin:0 auto;/*This will make the menu center-aligned. Removing this line will make the menu align left.*/
}
#sses1 ul 
{ 
    position: relative;
    list-style-type: none;
    float:left;
    padding:0;margin:0;
    border-bottom:solid 1px #004E98;
}
#sses1 li
{
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
}
/*CSS for background bubble*/
#sses1 li.highlight
{
    background-color:#1775cd;
    top:58px;
    height:2px;
    border-bottom:solid 1px #004E98;
    z-index: 1;
    position: absolute;
    overflow:hidden;
}
#sses1 li a
{
    box-sizing: content-box;
    height:52px;
    padding-top: 8px;
    margin: 0 20px;/*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
    color: #000;
    font-family: 'myFont';
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    position: relative;
    z-index: 2;
}

.card {
    border: 1px solid #ccc;
    font-family: 'MyFont2';
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
}

.card form {
    margin-top: 20px;
  }
  
  .card select {
    padding: 5px;
    font-size: 14px;
  }
  
  .card  button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #45a049;
  }